[Unit]
Description=Test Container 1
After=dev-hugepages.mount nmstate.service
Requires=dev-hugepages.mount
Wants=nmstate.service
ConditionPathExists=/dev/hugepages

[Container]
Image=quay.io/redhat-user-workloads/telco-5g-tenant/openperouter-operator-edge-5-0:on-pr-0e81b6c4ce9fea975946e2c6ad6e3f6f8dbf96d4 
ContainerName=container1
Pod=routerpod.pod
PodmanArgs=--privileged
PodmanArgs=--env-file=/etc/openperouter/openperouter.env
Entrypoint=/usr/bin/bash
Exec=-c "while true; do taskset -cp 1; sleep 100; done"

[Service]
Slice=container1.slice

[Install]
WantedBy=default.target
